<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Correct</title>
    <link
      rel="stylesheet"
      href="/authorization-2/public/stylesheets/style.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="flex text-red-500 h-screen bg-zinc-900 items-center justify-center"
    >
      <h1 class="text-4xl">Incorrect Password!</h1>
    </div>
  </body>
</html>
